[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

apistar = ">=0.3,<0.4"
pyjwt = "*"



[dev-packages]

bumpversion = "*"
watchdog = "*"
"flake8" = "*"
tox = "*"
coverage = "*"
cryptography = "*"
pyyaml = "*"
pytest = "*"
pytest-runner = "*"
pytest-cov = "*"
twine = "*"


[requires]
python_version = "3.6"
